body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.nav-head {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span {
    color: #2e2f42;
}

.span-foot {
    color: #f4f4fd;
}
.post-headline {
    background-color: #2E2F42;
    font-weight: bold;
    font-size: 56px;
    line-height: 2;
    letter-spacing: 0.02em;
    text-align: center;
}

.text-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.text-link:hover {
    color: #404bbf;
}
.text-link:focus {
    color: #404bbf;
}

.address-list {
    font-size: normal;
}
.text-address {
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-address:hover {
    color: #404bbf;
}

.text-address:focus {
    color: #404bbf;
}

.post-text-headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.post-headline-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #ffffff;
    cursor: pointer;
}

.post-headline-button:hover {
    background-color: #404BBF
}

.post-headline-button:focus {
    background-color: #404BBF
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

.team-list {
    background-color: #FFFFFF;
}

.team-work {
    background-color: #F4F4FD;
}
.team {
    background-color: #F4F4FD
}
.foot {
    background-color: #2E2F42;
}

.paragraph-foot{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}